body {
    background-color: black;
}

#world {
    margin: auto;
    border: 8px double #0D23A4;
    width: 800px;
    height: 600px;
    position: relative;
}

.pacMan {
    background-color: yellow;
    width: 20px;
    height: 20px;
    position: absolute;
}