body {
    background-color: black;
}

#world {
    margin: 20px auto;
    outline: 8px double #0D23A4;
    position: relative;
}

.pacMan {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    transition: left 0.1s, top 0.1s;
}

.pacMan.up {
    outline: 1px double red;
}