body {
    background-color: black;
}

#world {
    margin-top: 20px;
    margin-left: 20px;
    outline: 8px double #0D23A4;
    position: relative;
    float: left;
}

#ranks{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    outline: 8px double #fff;
}

.pacMan {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    transition: left 0.05s, top 0.05s;
}

.pacMan.current {
    opacity: 1;
}

.pacMan.up {
    outline: 1px double red;
}

.pea {
    background-color: yellowgreen;
    border-radius: 50%;
    position: absolute;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0.4;
    }
  }
  